body{
	margin:0;
}

p.title{
	color:yellow;
	font-size:300%;
}
p.title_pink{
	color:deeppink;
	font-size:300%;
	margin:0;
}
p.iine{
	color:red;
	margin:0;
	padding:0;
	font-size:80%;
}
p.com{
	margin:0;
	padding:0;
	font-size:70%;
}

table{
	border:none;
	margin:1em;
}
td{
	background-color:lightblue; 
}

#ue{
	margin:0 0 0 0;
	height:7em;
	overflow:auto;
	background-color:brown;
}

#hidari{
	margin:7em 0 0 0;
	width:6em;
	position:absolute;
	height:100%;
	left:0;
	top:0;
	background-color:pink;
}

#main{
	margin:0 0 0 6em;
	height:100%;
	overflow:auto;
	background-color:#99cc99
}

#box{
	width:30em;
	background-color:lightblue;
	margin:1em;
	padding:1em;
}

